<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Форма отправки списка контейнеров</h3>
    </div>
    <div class="panel-body">
        <uib-tabset active="0" justified="false" type="tabs">
            <uib-tab index="0" heading="Файл со списком контейнеров" ng-click="tasksDetailObj.setClickedRow(null)">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td style="border-top: none !important;">Файл со списком контейнеров</td>
                                    <td style="border-top: none !important;"><button class="btn btn-sm btn-default">Скачать</button> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Список рассылки" ng-click="tasksDetailObj.setClickedRow(null)">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="panel-body" ng-include src="'pages/template/distribution.tpl.html'">
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
