<div id="main-div-process">
    <img  drawing-process data={{dataJSON}}  style="height: 700px" alt="Процесс">
</div>

<!--census.bmp-->
<!--ng-src="../res/census.bmp"-->

<div class="test" style="  height: 200px;
width: 200px;"></div>

<!--<canvas drawing-process ng-click="alertFunc()" id='myCanvas' style="cursor: pointer"></canvas>-->

<!--<div class="row">-->
    <!--<div>-->
        <!--<div id="left-content">-->
            <!--<div class="panel">-->
                <!--<div class="panel-body">-->
                    <!--<button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Открыть все</button>-->
                    <!--<button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Закрыть все</button>-->
                    <!--<abn-tree tree-data="processTreeData" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" icon-leaf="icon-file"></abn-tree>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="right-content">-->
            <!--<div ui-view="detailSelectedLeaf">-->
                <!--<div class="panel">-->
                    <!--<p style="text-align: center; padding: 120px 0 120px 0; font-size: 15pt;"> Выберите лист дерева</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="slider-x"-->
     <!--my-resizer-->
     <!--orientation="vertical"-->
     <!--max="700"-->
     <!--min="240"-->
     <!--indent="16"-->
     <!--left-content="#left-content"-->
     <!--right-content="#right-content">-->
    <!--<i class="fa fa-arrows-h text-x"></i>-->
<!--</div>-->