<div class="panel" id="top-content">
    <div class="panel-heading">
        <h3 class="panel-title">Процесс</h3>
    </div>
    <div class="panel-body">
        <!--<div class="my-image"></div>-->
        <!--<div class="zoomin">-->
        <!--<img ng-click="isDetailsScheme=!isDetailsScheme" ng-src="../res/census.bmp" alt="Процесс">-->
        <div id="main-div-process">
            <!--<img ng-click="isDetailsScheme=!isDetailsScheme" drawing-process data={{dataJSON}}  ng-src="../res/census.bmp" alt="Процесс">-->
            <div drawing-process data={{dataJSON}} ng-click="isDetailsScheme=!isDetailsScheme" style='background-image: url("../res/census.bmp"); width: 991px; height: 533px'></div>
        </div>
        <!--</div>-->
    </div>
</div>

<div ng-if="isDetailsScheme"
     id="slider-y"
     my-resizer
     orientation="horizontal"
     min="300"
     max="650"
     indent="84"
     top-content="top-content"
     bottom-content="bottom-content"
     scroll-div="scroll-div">
    <i class="fa fa-arrows-v text-y"></i>
</div>

<div ng-if="isDetailsScheme" class="panel" id="bottom-content">
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
